<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thenewboston.seth" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thenewboston.seth.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thenewboston.seth.startingPoint"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.thenewboston.seth.STARTINGPOINT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thenewboston.seth.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.thenewboston.seth.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thenewboston.seth.AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.thenewboston.seth.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thenewboston.seth.TextPlay"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Email"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Camera"
            android:label="Camera Application"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Data"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.GFX"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.GFXSurface"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.OpenedClass"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.SoundStuff"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Slider"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Tabs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.SimpleBrowser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Flipper"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.SharedPrefs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.InternalData"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.ExternalData"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.SQLiteExample"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Accelerate"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thenewboston.seth.Prefs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.thenewboston.seth.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thenewboston.seth.SQLView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.thenewboston.seth.SQLVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
